# Flutter build outputs
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json

# iOS
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Dart/IDE
.idea/
*.iml
.vscode/
*.log
